<!-- EXERCISES 1 to 3 -->

<!--  Navbar - exercise 3 -->
<!-- <nav class="navbar bg-light">
  <app-navbar />
</nav>  -->

<!-- formulario + modal (ex. 2) -->
<div class="container my-4">
  <div class="row d-flex align-items-center">
    <div class="col-6 bg-info bg-opacity-25 rounded-2 p-4">
      <app-formulario />
      <app-modal />
    </div>  
  </div>
</div>

<!-- EXERCISES 4 to 6 -->
<!-- <div class="container">
  <div class="row">
    <div class="col order-12">
      <item-card />
    </div>
  </div>
</div> -->


<!-- EXERCISE 7 -->
<!-- <div class="container mt-3">
  <div class="row">
    <register-form class="col-6" />
  </div>
</div>
 -->

 <!-- EXERCISE 8 -->
 <!-- <div class="container mt-3">
  <busca (buscaData)="logInput($event)"/>
 </div> -->

